<br/>
<div id="info" class="conti">

    <div class="form-row">

      <div class="col-md-4 mb-3">
        <div class="input-group" >
          <div class="input-group-prepend" >
            <span class="input-group-text" style="background-color:rgb(200, 255, 0)" id="inputGroupPrepend">
              <strong>Disco:</strong>
            </span>
          </div>
          <input type="text" readonly class="form-control" [(ngModel)] = "Disco">
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="input-group" >
          <div class="input-group-prepend" >
            <span class="input-group-text" style="background-color:rgb(200, 255, 0)" id="inputGroupPrepend">
              <strong>Particion:</strong>
            </span>
          </div>
          <input type="text" readonly class="form-control" [(ngModel)] = "Particion">
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="input-group" >
          <div class="input-group-prepend" >
            <span class="input-group-text" style="background-color:rgb(200, 255, 0)" id="inputGroupPrepend">
              <strong>Montaje:</strong>
            </span>
          </div>
          <input type="text" readonly class="form-control" [(ngModel)] = "Montaje">
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="input-group" >
          <div class="input-group-prepend" >
            <span class="input-group-text" style="background-color:rgb(200, 255, 0)" id="inputGroupPrepend">
              <strong>Cliente:</strong>
            </span>
          </div>
          <input type="text" readonly class="form-control" [(ngModel)] = "Cliente">
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="input-group" >
          <div class="input-group-prepend" >
            <span class="input-group-text" style="background-color:rgb(200, 255, 0)" id="inputGroupPrepend">
              <strong>Grupo:</strong>
            </span>
          </div>
          <input type="text" readonly class="form-control" [(ngModel)] = "GroupName">
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="input-group" >
          <div class="input-group-prepend" >
            <span class="input-group-text" style="background-color:rgb(200, 255, 0)" id="inputGroupPrepend">
              <strong>Roll:</strong>
            </span>
          </div>
          <input type="text" readonly class="form-control" [(ngModel)] = "Roll">
        </div>
      </div>
       



    </div>


</div>
<br/>
<div id="tbc" class="conti">
  <div id="tree" class="conti">
      <p-tree  [value]="files" selectionMode="single" (onNodeSelect)="nodeSelect($event)"></p-tree>
  </div>



  <div id="block" class="conti">
      <br/>

      <div class="form-row"> 
      <div class="col-md-4 mb-3"  *ngFor="let game of TreeScope">
          <div class="card text-center">
            <img class="card-img-top" [src]="game.img_url">
            <div  class="card-header" style="background-color: rgb(255, 174, 0);">
              <strong>{{game.label}}</strong>
            </div>
        </div>  
      </div>
    </div>

    








  </div>
</div>
<br/>

<div id="lados" class="conti">
  <div id="izq" class="conti">
    
 
        <div id="name" class="input-group space" >
          <div class="input-group-prepend" >
            <span class="input-group-text" style="background-color:rgb(240, 26, 80); color: black;" id="inputGroupPrepend">
              <strong>Nombre:</strong>
            </span>
          </div>
          <input type="text" readonly class="form-control" [(ngModel)] = "FSE_name">
        </div>
    

    <div class="input-group space" >
      <div class="input-group-prepend" >
        <span class="input-group-text" style="background-color:rgb(240, 26, 80); color: black;" id="inputGroupPrepend">
          <strong>Propietario:</strong>
        </span>
      </div>
      <input type="text" readonly class="form-control" [(ngModel)] = "owner_name">
    </div>


    <div class="input-group  space">
      <div class="input-group-prepend" >
        <span class="input-group-text" style="background-color:rgb(240, 26, 80); color: black;" id="inputGroupPrepend">
          <strong>UGO:</strong>
        </span>
      </div>
      <input type="text" readonly class="form-control" [(ngModel)] = "ugo">
    </div>

    <div class="input-group space" >
      <div class="input-group-prepend" >
        <span class="input-group-text" style="background-color:rgb(240, 26, 80); color: black;" id="inputGroupPrepend">
          <strong>Path:</strong>
        </span>
      </div>
      <input type="text" readonly class="form-control" [(ngModel)] = "abs_path">
    </div>



    <div class="input-group space" >
      <div class="input-group-prepend" >
        <span class="input-group-text" style="background-color:rgb(240, 26, 80); color: black;" id="inputGroupPrepend">
          <strong>Contenido:</strong>
        </span>
      </div>
      <textarea rows="7" type="text" readonly class="form-control" [(ngModel)] = "txt">

      </textarea>
    </div>

    <div class="dropdown" style="float: right;">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Realizar Cambios
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" (click)="click_renombrar()" type="button">Renombrar</button>
        <button class="dropdown-item" (click)="click_eliminar()" type="button">Eliminar</button>
        <button class="dropdown-item" (click)="click_copiar()" type="button">Copiar</button>
        <button class="dropdown-item" (click)="click_mover()" type="button">Mover</button>
        <button class="dropdown-item" (click)="click_newfolder()" type="button">Nueva Carpeta</button>
        <button class="dropdown-item" (click)="click_newfile()" type="button">Nuevo Archivo</button>
        <button class="dropdown-item" (click)="click_editar()" type="button">Editar</button>
      </div>
    </div> 


</div>

  <div id="der" class="conti">

    <div id="html_renombrar" class="modifier">

      <div class="card text-white bg-danger" style="width: 100%; ">
        <div class="card-header">
          <strong>Renombrar</strong>
        </div>
        <div class="card-body">

            <div id="name" class="input-group space" >
              <div class="input-group-prepend" >
                <span class="input-group-text" style="background-color:rgb(221, 221, 221); color: black;" id="inputGroupPrepend">
                  <strong>Nombre:</strong>
                </span>
              </div>
              <input type="text" class="form-control" [(ngModel)] = "new_name">
            </div>

            <button type="button" (click)="renombrar_confirm()" class="btn btn-primary">Confirmar</button>

        </div>
      </div>
      
    </div>
    
    
    <div id="html_eliminar" class="modifier">
    
      <div class="card text-white bg-info" style="width: 100%; ">
        <div class="card-header">
          <strong>Eliminar</strong>
        </div>
        <div class="card-body">
          <p class="card-text"><strong>{{about}}</strong></p>
        </div>
      </div>
    
    </div>
    
    
    <div id="html_copiar" class="modifier">
      <div class="card text-white bg-warning" style="width: 100%; ">
        <div class="card-header">
          <strong>Copiar</strong>
        </div>
        <div class="card-body">
          <p class="card-text"><strong>{{about}}</strong></p>
        </div>
      </div>
    </div>

    <div id="html_mover" class="modifier">
      <div class="card text-white bg-success" style="width: 100%; ">
        <div class="card-header">
          <strong>Mover</strong>
        </div>
        <div class="card-body">
          <p class="card-text"><strong>{{about}}</strong></p>
        </div>
      </div>
    </div>

    <div id="html_editar" class="modifier">
      <div class="card text-white bg-success" style="width: 100%; ">
        <div class="card-header">
          <strong>Editar</strong>
        </div>
        <div class="card-body">

          <div id="name" class="input-group space" >
            <div class="input-group-prepend" >
              <span class="input-group-text" style="background-color:rgb(221, 221, 221); color: black;" id="inputGroupPrepend">
                <strong>Contenido:</strong>
              </span>
            </div>
            <textarea rows="7" type="text" class="form-control" [(ngModel)] = "newtxt">

            </textarea>
          </div>

          <button type="button" (click)="editar_confirm()" class="btn btn-primary">Confirmar</button>

        </div>
      </div>
    </div>

    <div id="html_newfile" class="modifier">
      <div class="card text-white bg-primary mb-3" style="width: 100%; ">
        <div class="card-header">
          <strong>Nuevo Archivo</strong>
        </div>
        <div class="card-body">

          

          <div id="name" class="input-group space" >
            <div class="input-group-prepend" >
              <span class="input-group-text" style="background-color:rgb(221, 221, 221); color: black;" id="inputGroupPrepend">
                <strong>Nombre:</strong>
              </span>
            </div>
            <input type="text" class="form-control" [(ngModel)] = "new_name">
          </div>

          <div id="name" class="input-group space" >
            <div class="input-group-prepend" >
              <span class="input-group-text" style="background-color:rgb(221, 221, 221); color: black;" id="inputGroupPrepend">
                <strong>UGO:</strong>
              </span>
            </div>  
            <input type="text" class="form-control" [(ngModel)] = "new_ugo" onkeyup="if(parseInt(this.value)>777){ this.value = 777; return false; } if(parseInt(this.value)<0){this.value = 0; return false;}">
            <!--
            <input type="number" class="form-control" onkeypress="return this.value.length < 3;" oninput="if(this.value.length>=3) { this.value = this.value.slice(0,3); }">
            -->
          </div> 

          <div id="name" class="input-group space" >
            <div class="input-group-prepend" >
              <span class="input-group-text" style="background-color:rgb(221, 221, 221); color: black;" id="inputGroupPrepend">
                <strong>Contenido:</strong>
              </span>
            </div>
            <textarea rows="7" type="text" class="form-control" [(ngModel)] = "newtxt">

            </textarea>
          </div>

          <button type="button" (click)="newfile_confirm()" class="btn btn-dark">Confirmar</button>

        </div>
      </div>
    </div>



  </div>
</div>

<br>
